
<div>
  <div class="container">
    <div>
      <!--Miejsce na dodawanie tasków
      -->
      <label>
        <input [(ngModel)]="newTask">
      </label>
      <button (click)="add()">Dodaj</button>
    </div>
  </div>

  <div class="container">
    <div>
      <!--
      Lista zadań
      -->
      <ng-container *ngIf="taskList.length > 0; else noTask">
        <p>Zadania do wykonania: {{taskList.length}}</p>
        <ul>
          <li *ngFor="let task of taskList">
            {{task.getValue()}}
            <button (click)="remove(task)">Usuń</button>
            <button (click)="done(task)">Zrobione</button>
          </li>
        </ul>
      </ng-container>
      <ng-template #noTask>
        <p>Zadania do wykonania: brak</p>
      </ng-template>
    </div>

    <div>
      <p>Zadania wykonane: {{taskDone.length}}</p>

      <ul>
        <li *ngFor="let task of taskDone">
          {{task.getValue()}}
        </li>
      </ul>
    </div>
  </div>
</div>
